* {
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 0.1em;
}

input[type=button] {
  -webkit-appearance: none;
  color: black;
}

.moves-container :nth-child(odd){
  background-color: black;
  color: white;
}

.game-board {
  /* border: solid 1px black; */
  width: fit-content;
}

.square {
  height: 50px;
  width: 50px;
  /* border: solid 1px red; */
}

.row{
  display: flex;
}

.button-container {
  display: flex;
  gap: 1rem;
}

.moves-container button{
  padding: 5px;
  font-size: 1rem;
}

.status {
  font-size: 1.25rem;
  font-weight: bolder;
}

.button-container button {
  font-size: 1.5rem;
}

.button-container button:disabled i{
  color:gray;
}
